;; gitignore for Django using pyCharm
;;

;;files to ignore

;;extensions to ignore
*.log
*.pot
*.pyc

;;directories to ignore
.idea/
coindigo_v0/coindigo_app/migrations/
coindigo_v0/static/

.DS_Store
venv/
db.sqlite3
